body * {
  box-sizing: border-box;
  flex-shrink: 0;
}
body {
  font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial,
    PingFang SC-Light, Microsoft YaHei;
  margin: 0;
}
input {
  background-color: transparent;
  border: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
}

button:active {
  opacity: 0.6;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-start {
  display: flex;
  justify-content: flex-start;
}
.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}
.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}
.justify-around {
  display: flex;
  justify-content: space-around;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.align-start {
  display: flex;
  align-items: flex-start;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-end {
  display: flex;
  align-items: flex-end;
}
@font-face {
  font-family: 'D-DINCondensed-Bold'; /* 自定义字体名称 */
  src: url('font/D-DIN-Condensed-Bold/D-DINCondensed-Bold.otf') format('otf'),
    /* 字体文件路径 */ url('font/D-DIN-Condensed-Bold/D-DINCondensed-Bold.ttf') format('ttf'),
    url('font/D-DIN-Condensed-Bold/D-DINCondensed-Bold.woff') format('woff'),
    url('font/D-DIN-Condensed-Bold/D-DINCondensed-Bold.woff2') format('woff2');
  font-weight: normal; /* 字体粗细 */
  font-style: normal; /* 字体样式 */
}
@font-face {
  font-family: 'D-DINCondensed'; /* 自定义字体名称 */
  src: url('font/D-DIN-Condensed-Bold/D-DINCondensed.otf') format('otf'),
    /* 字体文件路径 */ url('font/D-DIN-Condensed-Bold/D-DINCondensed.ttf') format('ttf'),
    url('font/D-DIN-Condensed-Bold/D-DINCondensed.woff') format('woff'),
    url('font/D-DIN-Condensed-Bold/D-DINCondensed.woff2') format('woff2');
  font-weight: normal; /* 字体粗细 */
  font-style: normal; /* 字体样式 */
}
